
.flex-container {
    display: grid;
    justify-items: center;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* align-items: center; */
    /* flex-direction: column; */
    direction: rtl;
}

.mat-radio-button {
    margin: 0 12px;
}

mat-form-field {
    width: 350px;
    /* direction: rtl; */
    text-align: right;
}


.radio {
    width: 350px;
}

#sendBtn {
    width: 70px;
}
