<h1>אישור מפקד</h1>
<div class="grid-container" [formGroup]="profileForm">
    <div id="usercard-title" class="captaintitle">פרטי החשוד</div>
    <div id="captaincard">
        <div class="data-block">
            <mat-form-field>
                <mat-label>מס' ת.ז</mat-label>
                <input matInput placeholder="אנא מלא מספר ת.ז" formControlName="idnumber" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <mat-form-field>
                <mat-label>שם פרטי</mat-label>
                <input matInput placeholder="הכנס את שמך הפרטי" formControlName="firstName" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <mat-form-field>
                <mat-label>שם משפחה</mat-label>
                <input matInput placeholder="הכנס את שם המשפחה שלך" formControlName="lastName" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <mat-form-field>
                <mat-label>מס' טלפון</mat-label>
                <input matInput placeholder="אנא מלא מספר טלפון" formControlName="phoneNumber" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <mat-form-field>
                <mat-label>תאריך האיכון</mat-label>
                <input matInput type="date" placeholder="אנא מלא תאריך האיכון" formControlName="timeOfPositioningDate" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <mat-form-field>
                <mat-label>זמן האיכון</mat-label>
                <input matInput type="time" placeholder="אנא מלא זמן האיכון" formControlName="timeOfPositioningTime" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <mat-form-field>
                <mat-label>מיקום האיכון</mat-label>
                <input matInput placeholder="אנא מלא מיקום האיכון" formControlName="placeOfPositioning" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <div class="radio">
                <label>מערער על האיכון: </label>
                <mat-radio-group formControlName="hasDeclaredInocense" required>
                  <mat-radio-button [value]="true">כן</mat-radio-button>
                  <mat-radio-button [value]="false">לא</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="data-block">
            <div class="radio">
                <label>נכח ביחידה בזמן האיכון: </label>
                <mat-radio-group formControlName="wasInBaseDuringPos" required>
                  <mat-radio-button [value]="true">כן</mat-radio-button>
                  <mat-radio-button [value]="false">לא</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="data-block">
            <div class="radio">
                <label>נשלח לבידוד: </label>
                <mat-radio-group formControlName="wasSentToConfinment" required>
                  <mat-radio-button [value]="true">כן </mat-radio-button>
                  <mat-radio-button [value]="false">לא</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>


    <div id="usercard-title" class="captaintitle">פרטי המפקד</div>
    <div id="usercard">
        <div class="data-block">
            <mat-form-field>
                <mat-label>שם פרטי</mat-label>
                <input matInput placeholder="הכנס את שמ הפרטי" formControlName="firstNameCommander" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <mat-form-field>
                <mat-label>שם משפחה</mat-label>
                <input matInput placeholder="הכנס את שם המשפחה" formControlName="lastNameCommander" required>
            </mat-form-field>
        </div>
        <div class="data-block">
            <mat-form-field>
                <mat-label>מס' טלפון</mat-label>
                <input matInput placeholder="אנא מלא מספר טלפון" formControlName="phoneNumberCommander" required>
            </mat-form-field>
        </div>
    </div>

    <div style="justify-self: center; margin-top: 80px;">
        <button id="sendBtn" [disabled]="profileForm.status === 'INVALID'" (click)="onSend()"><mat-icon aria-hidden="false" aria-label="Example home icon">done_outline</mat-icon></button>
    </div>

</div>
