
<body>
    <h1>Soldier Forms</h1>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      
    <label>
        ID Number:
        <input type="text" formControlName="idnumber">
    </label>
    
    <label>
        First Name:
        <input type="text" formControlName="firstName">
    </label>
    
    <label>
        Last Name:
        <input type="text" formControlName="lastName">
    </label>
    
    <label>
        Phone Number:
        <input type="tel" formControlName="phoneNumber">
    </label>
    
    <label>
        Time Of Positioning:
        <input type="date" formControlName="TimeOfPositioning">
    </label>
    
    <label>
        Place Of Positioning:
        <input type="text" formControlName="PlaceOfPositioning">
    </label>

    <label>
        Has Declared Inocense:
        <div class="divYesNo">
            <input type="radio" class="yes" id="yes" name="HasDeclaredInocense" value="true" formControlName="HasDeclaredInocense">
            <label class="labelyesno" for="yes">Yes</label><br>
            <input type="radio" class="no" id="no" name="HasDeclaredInocense" value="false" formControlName="HasDeclaredInocense">
            <label class="labelyesno" for="no">No</label><br>
        </div>
    </label>
    
    <label>
        Was In Base During Pos:
        <input type="radio" class="yes" id="yes" name="WasInBaseDuringPos" value="true" formControlName="WasInBaseDuringPos">
        <label class="labelyesno" for="yes">Yes</label><br>
        <input  type="radio" class="no" id="no" name="WasInBaseDuringPos" value="false" formControlName="WasInBaseDuringPos">
        <label class="labelyesno" for="no">No</label><br>
    </label>
    
    <label>
        Was Sent To Confinment:
        <input type="radio" class="yes" id="yes" name="WasSentToConfinment" value="true" formControlName="WasSentToConfinment">
        <label class="labelyesno" for="yes">Yes</label><br>
        <input type="radio" class="no" id="no" name="WasSentToConfinment" value="false" formControlName="WasSentToConfinment">
        <label class="labelyesno" for="no">No</label><br>
    </label>
    
    </form>
    
    <!-- <p>
        Value: {{ profileForm.value.HasDeclaredInocense }}
    </p> -->
    
</body>