<div class="flex-container" [formGroup]="profileForm">
    <mat-form-field appearance="legacy">
        <mat-label>ID Number</mat-label>
        <input matInput type="number" placeholder="ID Number" formControlName="idnumber" required>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
        <mat-hint>First Name</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
        <mat-hint>Last Name</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Phone Number</mat-label>
        <input matInput type="number" placeholder="Phone Number" formControlName="phoneNumber" required>
        <mat-hint>Phone Number</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Date Of Positioning</mat-label>
        <input matInput type="date" placeholder="Date Of Positioning" formControlName="timeOfPositioningDate" required>
        <mat-hint>Date Of Positioning</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Time Of Positioning</mat-label>
        <input matInput type="time" placeholder="Time Of Positioning" formControlName="timeOfPositioningTime" required>
        <mat-hint>Time Of Positioning</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Place Of Positioning</mat-label>
        <input matInput type="text" placeholder="Place Of Positioning" formControlName="placeOfPositioning" required>
        <mat-hint>Place Of Positioning</mat-hint>
    </mat-form-field>
    <br>
    <div class="radio">
        <label>Has Declared Inocense: </label>
        <mat-radio-group formControlName="hasDeclaredInocense" required>
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <div class="radio">
        <label>Was In Base During Pos: </label>
        <mat-radio-group formControlName="wasInBaseDuringPos" required>
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <div class="radio">
        <label>Was Sent To Confinment: </label>
        <mat-radio-group formControlName="wasSentToConfinment" required>
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>First Name Commander</mat-label>
        <input matInput type="text" placeholder="First Name Commander" formControlName="firstNameCommander" required>
        <mat-hint>First Name</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Last Name Commander</mat-label>
        <input matInput type="text" placeholder="Last Name Commander" formControlName="lastNameCommander" required>
        <mat-hint>Last Name Commander</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field appearance="standard">
        <mat-label>Phone Number Commander</mat-label>
        <input matInput type="number" placeholder="Phone Number Commander" formControlName="phoneNumberCommander" required>
        <mat-hint>Phone Number Commander</mat-hint>
    </mat-form-field>
    <br>

    <!-- <p>
        Value: {{ profileForm }}
    </p> -->

    <p>
        <button [disabled]="profileForm.status === 'INVALID'" (click)="onSend()">Send</button>
    </p>
</div>
