<h1>אישור מפקד</h1>
<div class="grid-container">
    <div *ngIf="getPersonData(); else loader">
        <div id="usercard-title">פרטי החשוד</div>
        <div id="usercard">
            <div class="data-block">מס' ת.ז: {{ personData.suspectIdentityNumber }}</div>
            <div class="data-block">שם פרטי: {{ personData.suspectFirstName }}</div>
            <div class="data-block">שם משפחה: {{ personData.suspectLastName }}</div>
            <div class="data-block">מס' טלפון: {{ personData.suspectPhoneNumer }}</div>
            <div class="data-block">מיקום האיכון: {{ personData.suspectPlaceOfPositioning }}</div>
            <div class="data-block">זמן האיכון: {{ parseTime(personData.suspectTimeOfPositioning) }}</div>
            <div class="data-block">מערער על האיכון: {{ booleanToHebrewString(personData.suspectHasDeclaredInocense) }}
            </div>
            <div class="data-block">נכח ביחידה בזמן האיכון:
                {{ booleanToHebrewString(personData.suspectWasInBaseDuringPos) }}</div>
            <div class="data-block">נשלח לבידוד: {{ booleanToHebrewString(personData.suspectWasSentToConfinment) }}
            </div>


        </div>
    </div>

    <div *ngIf="getPersonData(); else loader">
        <div id="usercard-title" class="captaintitle">פרטי המפקד</div>
        <div id="captaincard">
            <div class="data-block">
                <mat-form-field>
                    <mat-label>מס' ת.ז</mat-label>
                    <input matInput required placeholder="אנא מלא מספר ת.ז" [(ngModel)]="personData.reporterIdentityNumber">
                </mat-form-field>
            </div>
            <div class="data-block">
                <mat-form-field>
                    <mat-label>שם פרטי</mat-label>
                    <input matInput required placeholder="הכנס את שמך הפרטי" [(ngModel)]="personData.reporterFirstName">
                </mat-form-field>
            </div>
            <div class="data-block">
                <mat-form-field>
                    <mat-label>שם משפחה</mat-label>
                    <input matInput required placeholder="הכנס את שם המשפחה שלך" [(ngModel)]="personData.reporterLastName">
                </mat-form-field>
            </div>
            <div class="data-block">
                <mat-form-field>
                    <mat-label>מס' טלפון</mat-label>
                    <input matInput required placeholder="אנא הכנס מס' טלפון" [(ngModel)]="personData.reporterPhoneNumber">
                </mat-form-field>
            </div>
            <div class="data-block">
                <mat-form-field appearance="fill">
                    <mat-label>דרגה</mat-label>
                    <mat-select required [(ngModel)]="personData.reporterRank">
                        <mat-option *ngFor="let rank of ranks" [value]="rank.value">
                            {{rank.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="data-block">
                <mat-form-field>
                    <mat-label>כתובת דוא"ל</mat-label>
                    <input matInput required placeholder='הכנס את כתובת הדוא"ל שלך' [(ngModel)]="personData.reporterMail">
                </mat-form-field>
            </div>

        </div>

        <div id="msg">
            <form class="msg-form">
                <mat-form-field class="msg-full-width">
                    <mat-label class="default-color">הערות נוספות</mat-label>
                    <input matInput #message maxlength="256" placeholder="ציין הערות רלוונטיות למקרה"
                        [value]="personData.reporterNotes" [(ngModel)]="personData.reporterNotes">
                    <mat-hint align="start"><strong>הימנע מציון מידע רגיש</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
            </form>
        </div>
    </div>

    <div id="buttons">
        <button class="acceptbutton red" [disabled]="sentFlag || !isAllDataFull()" (click)="confirmation(false)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
        </button>
        <button class="acceptbutton green" [disabled]="sentFlag || !isAllDataFull()" (click)="confirmation(true)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">done_outline</mat-icon>
        </button>
    </div>

    <ng-template #loader>
        <div id="loader">
            <app-loader></app-loader>
        </div>
    </ng-template>
</div>

<div>

</div>